body{
    text-align: center;
    width: 1250px;
    height: 600px;
    
    justify-content: center;
    align-items: center;
    
}
main{
    height: 600px;
    display: flex;
}
#container{
    background-color: rgb(13, 170, 232);
    background-image: url("../images/super-mario-bros.jpeg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: .25fr .5fr .25fr;
    /* grid-template-rows: 0.2fr 0.4fr 0.4fr; */
    grid-template-areas: "top1 top2 top3"
                         "game game game"
                         "game game game"

}
#canvas{
    height: 740px;
}

#top-left{
    grid-area: top1;
    display: flex;
}
#status{
    font-size: 40px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    align-content: center;
    justify-content: center;
    grid-area: top3;
}
#press{
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: top2;
    text-align: center;
}
main{
    grid-area: game;
    z-index: 0;
}

